In [7]:
import pandas as pd

file_path='./data/Airline_Delay_Cause.csv'

data = pd.read_csv(file_path)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1562 entries, 0 to 1561
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 1562 non-null   int64
 1   month                1562 non-null   int64
 2   carrier              1562 non-null   object
 3   carrier_name         1562 non-null   object
 4   airport              1562 non-null   object
 5   airport_name         1562 non-null   object
 6   arr_flights          1561 non-null   float64
 7   arr_del15            1561 non-null   float64
 8   carrier_ct           1561 non-null   float64
 9   weather_ct           1561 non-null   float64
 10  nas_ct               1561 non-null   float64
 11  security_ct          1561 non-null   float64
 12  late_aircraft_ct     1561 non-null   float64
 13  arr_cancelled        1561 non-null   float64
 14  arr_diverted         1561 non-null   float64
 15  arr_delay            1561 non-null   float64
 16  carrier_delay        1561 non-null   float64
 17  weather_delay        1561 non-null   float64
 18  nas_delay            1561 non-null   float64
 19  security_delay       1561 non-null   float64
 20  late_aircraft_delay  1561 non-null   float64
dtypes: float64(15), int64(2), object(4)
memory usage: 256.4+ KB

In [8]:
data.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2023,12,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",72.0,5.0,2.46,1.00,...,0.0,0.81,0.0,0.0,672.0,61.0,574.0,20.0,0.0,17.0
1,2023,12,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",62.0,7.0,4.25,0.00,...,0.0,1.75,0.0,0.0,348.0,252.0,0.0,33.0,0.0,63.0
2,2023,12,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",95.0,10.0,5.94,0.00,...,0.0,3.00,0.0,0.0,859.0,536.0,0.0,47.0,0.0,276.0
3,2023,12,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",23.0,2.0,0.56,0.00,...,0.0,1.44,1.0,0.0,75.0,9.0,0.0,0.0,0.0,66.0
4,2023,12,9E,Endeavor Air Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2111.0,256.0,76.88,8.75,...,0.0,117.94,1.0,0.0,21424.0,8906.0,732.0,1487.0,0.0,10299.0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1562 entries, 0 to 1561
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 1562 non-null   int64
 1   month                1562 non-null   int64
 2   carrier              1562 non-null   object
 3   carrier_name         1562 non-null   object
 4   airport              1562 non-null   object
 5   airport_name         1562 non-null   object
 6   arr_flights          1561 non-null   float64
 7   arr_del15            1561 non-null   float64
 8   carrier_ct           1561 non-null   float64
 9   weather_ct           1561 non-null   float64
 10  nas_ct               1561 non-null   float64
 11  security_ct          1561 non-null   float64
 12  late_aircraft_ct     1561 non-null   float64
 13  arr_cancelled        1561 non-null   float64
 14  arr_diverted         1561 non-null   float64
 15  arr_delay            1561 non-null   float64
 16  carrier_delay        1561 non-null   float64
 17  weather_delay        1561 non-null   float64
 18  nas_delay            1561 non-null   float64
 19  security_delay       1561 non-null   float64
 20  late_aircraft_delay  1561 non-null   float64
dtypes: float64(15), int64(2), object(4)
memory usage: 256.4+ KB

In [12]:
# Handling missing values
data = data.dropna()

In [61]:
#looks like 1 null value
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1561 entries, 0 to 1561
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 1561 non-null   int64
 1   month                1561 non-null   int64
 2   carrier              1561 non-null   object
 3   carrier_name         1561 non-null   object
 4   airport              1561 non-null   object
 5   airport_name         1561 non-null   object
 6   arr_flights          1561 non-null   float64
 7   arr_del15            1561 non-null   float64
 8   carrier_ct           1561 non-null   float64
 9   weather_ct           1561 non-null   float64
 10  nas_ct               1561 non-null   float64
 11  security_ct          1561 non-null   float64
 12  late_aircraft_ct     1561 non-null   float64
 13  arr_cancelled        1561 non-null   float64
 14  arr_diverted         1561 non-null   float64
 15  arr_delay            1561 non-null   float64
 16  carrier_delay        1561 non-null   float64
 17  weather_delay        1561 non-null   float64
 18  nas_delay            1561 non-null   float64
 19  security_delay       1561 non-null   float64
 20  late_aircraft_delay  1561 non-null   float64
dtypes: float64(15), int64(2), object(4)
memory usage: 268.3+ KB

In [62]:
data.shape

(1561, 21)

In [14]:
# Separating the features
X = data.drop(['arr_del15','carrier_name','airport_name'], axis=1)

In [21]:
X.head()

,year,month,carrier,airport,arr_flights,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2023,12,9E,ABE,72.0,2.46,1.00,0.73,0.0,0.81,0.0,0.0,672.0,61.0,574.0,20.0,0.0,17.0
1,2023,12,9E,AEX,62.0,4.25,0.00,1.00,0.0,1.75,0.0,0.0,348.0,252.0,0.0,33.0,0.0,63.0
2,2023,12,9E,AGS,95.0,5.94,0.00,1.06,0.0,3.00,0.0,0.0,859.0,536.0,0.0,47.0,0.0,276.0
3,2023,12,9E,ALB,23.0,0.56,0.00,0.00,0.0,1.44,1.0,0.0,75.0,9.0,0.0,0.0,0.0,66.0
4,2023,12,9E,ATL,2111.0,76.88,8.75,52.43,0.0,117.94,1.0,0.0,21424.0,8906.0,732.0,1487.0,0.0,10299.0

In [22]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1561 entries, 0 to 1561
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 1561 non-null   int64
 1   month                1561 non-null   int64
 2   carrier              1561 non-null   object
 3   airport              1561 non-null   object
 4   arr_flights          1561 non-null   float64
 5   carrier_ct           1561 non-null   float64
 6   weather_ct           1561 non-null   float64
 7   nas_ct               1561 non-null   float64
 8   security_ct          1561 non-null   float64
 9   late_aircraft_ct     1561 non-null   float64
 10  arr_cancelled        1561 non-null   float64
 11  arr_diverted         1561 non-null   float64
 12  arr_delay            1561 non-null   float64
 13  carrier_delay        1561 non-null   float64
 14  weather_delay        1561 non-null   float64
 15  nas_delay            1561 non-null   float64
 16  security_delay       1561 non-null   float64
 17  late_aircraft_delay  1561 non-null   float64
dtypes: float64(14), int64(2), object(2)
memory usage: 231.7+ KB

In [16]:
y = data['arr_del15'].apply(lambda x: 1 if x > 0 else 0)

In [31]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: arr_del15, dtype: int64

In [23]:
y.info()

<class 'pandas.core.series.Series'>
Int64Index: 1561 entries, 0 to 1561
Series name: arr_del15
Non-Null Count  Dtype
--------------  -----
1561 non-null   int64
dtypes: int64(1)
memory usage: 24.4 KB

In [34]:
y.value_counts()

1    1512
0      49
Name: arr_del15, dtype: int64

In [49]:
categorical_cols = ['carrier', 'airport', 'month']
numerical_cols = X.columns.difference(categorical_cols + ['year'])  # Exclude 'year' for simplicity

In [50]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [51]:
# Creating a preprocessing pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_cols),
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_cols)
    ])

In [72]:
from sklearn.model_selection import train_test_split
# Splitting dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [71]:
# Applying preprocessing
X_train_preprocessed = preprocessor.fit_transform(X_train)
X_test_preprocessed = preprocessor.transform(X_test)
X_train_preprocessed.shape, X_test_preprocessed.shape

((1248, 338), (313, 338))

In [69]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score

# initializing the logistic regression model
logreg = LogisticRegression(max_iter=1000, random_state=42)

# Training the model
logreg.fit(X_train_preprocessed, y_train)

# Predicting on the test set
y_pred = logreg.predict(X_test_preprocessed)

# Calculating metrics
accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
accuracy, f1

(0.9712460063897763, 0.9854132901134521)